openai-agents~=0.3.3
python-dotenv~=1.0

opentelemetry-sdk @ git+https://github.com/open-telemetry/opentelemetry-python@main#subdirectory=opentelemetry-sdk
opentelemetry-semantic-conventions @ git+https://github.com/open-telemetry/opentelemetry-python@main#subdirectory=opentelemetry-semantic-conventions
opentelemetry-exporter-otlp-proto-grpc @ git+https://github.com/open-telemetry/opentelemetry-python@main#subdirectory=exporter/opentelemetry-exporter-otlp-proto-grpc
-e ../..
