sphinx==7.1.2
sphinx-rtd-theme==2.0.0rc4
sphinx-autodoc-typehints==1.25.2

# Required to avoid breakages for pyramid and cassandra packages
setuptools<82.0.0

# Required by opentelemetry-instrumentation
fastapi>=0.65.2
pymemcache~=1.3

# Required by conf
django>=2.2

# Require by opentelemetry-util-genai
fsspec>=2025.9.0

# Required by instrumentation and exporter packages
aio_pika~=7.2.0
aiohttp~=3.0
aiokafka~=0.11.0
aiopg>=0.13.0,<1.3.0
asyncpg>=0.12.0
asyncclick~=8.0
boto~=2.0
botocore~=1.0
boto3~=1.0
cassandra-driver~=3.25
celery>=4.0
confluent-kafka>= 1.8.2,<= 2.13.0
elasticsearch>=6.0,<9.0
flask~=2.0
falcon~=2.0
grpcio~=1.27
httpx>=0.18.0
kafka-python>=2.0,<3.0
mysql-connector-python~=8.0
mysqlclient~=2.1.1
openai >= 1.26.0
psutil>=5
psycopg~=3.1.17
pika>=0.12.0
pymongo~=4.6.3
PyMySQL~=1.1.1
pymssql~=2.3.2
pyramid>=1.7
redis>=2.6
remoulade>=0.50
sqlalchemy>=1.0
starlette~=0.50
tornado>=5.1.1
tortoise-orm>=0.17.0

# required by opamp
uuid_utils
protobuf>=5.0,< 7.0

# indirect dependency pins
markupsafe==2.0.1
itsdangerous==2.0.1

