asgiref==3.8.1
Deprecated==1.2.14
iniconfig==2.0.0
packaging==24.0
pluggy==1.5.0
py-cpuinfo==9.0.0
pymemcache==3.4.2
pytest==7.4.4
six==1.16.0
tomli==2.0.1
typing_extensions==4.12.2
wrapt==1.16.0
zipp==3.19.2
-e opentelemetry-instrumentation
-e instrumentation/opentelemetry-instrumentation-pymemcache
