aiopg==1.4.0
amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
asyncpg==0.31.0
billiard==4.2.0
celery==5.3.6
certifi==2024.7.4
chardet==3.0.4
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.30
dnspython==2.6.1
exceptiongroup==1.2.0
flaky==3.7.0
flask==3.1.3
greenlet==3.3.1
grpcio==1.81.1
idna==3.7
iniconfig==2.0.0
kombu==5.3.5
mysql-connector-python==8.3.0
mysqlclient==2.1.1
packaging==24.0
pluggy==1.6.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
# prerequisite: install libpq-dev (debian) or postgresql-devel (rhel), postgresql (mac)
# see https://www.psycopg.org/docs/install.html#build-prerequisites
# you might have to install additional packages depending on your OS
psycopg==3.3.4
psycopg2==2.9.12
psycopg2-binary==2.9.12
pymongo==4.6.3
PyMySQL==1.1.1
# prerequisite: install unixodbc
pyodbc==5.3.0
pytest==8.0.2
pytest-celery==0.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.1
requests==2.33.1
six==1.16.0
SQLAlchemy==1.4.52
tomli==2.0.1
typing_extensions==4.13.2
tzdata==2024.1
urllib3==2.7.0
vine==5.1.0
wcwidth==0.2.13
wrapt==1.16.0
zipp==3.19.1
