openai==1.26.0
pydantic==2.8.2
httpx==0.27.2
Deprecated==1.2.14
importlib-metadata==6.11.0
packaging==24.0
pytest==7.4.4
pytest-vcr==1.0.2
pytest-asyncio==0.21.0
wrapt==1.16.0
# test with the latest version of opentelemetry-api, sdk, and semantic conventions

-e opentelemetry-instrumentation
-e instrumentation-genai/opentelemetry-instrumentation-openai-v2
