asgiref==3.8.1
click==8.1.7
Deprecated==1.2.14
Flask==2.2.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.2
packaging==24.0
pluggy==1.5.0
py-cpuinfo==9.0.0
pytest==7.4.4
tomli==2.0.1
typing_extensions==4.12.2
Werkzeug==2.3.8
wrapt==1.16.0
zipp==3.19.2
-e opentelemetry-instrumentation
-e instrumentation/opentelemetry-instrumentation-wsgi
-e util/opentelemetry-util-http
-e instrumentation/opentelemetry-instrumentation-flask
