aio-pika==10.0.1
aiormq==7.0.0
idna==3.19
multidict==6.7.1
packaging==26.3
pamqp==4.0.1
propcache==0.5.2
typing_extensions==4.16.0
wrapt==2.3.0
yarl==1.24.5
-e opentelemetry-instrumentation
-e instrumentation/opentelemetry-instrumentation-aio-pika
