annotated-types==0.6.0
asgiref==3.7.2
attrs==23.2.0
aws-sam-translator==1.85.0
aws-xray-sdk==2.12.1
boto3==1.28.80
botocore==1.31.80
certifi==2024.2.2
cffi==1.16.0
cfn-lint==0.85.2
charset-normalizer==3.3.2
cryptography==42.0.5
Deprecated==1.2.14
docker==7.0.0
ecdsa==0.18.0
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
iniconfig==2.0.0
Jinja2==3.1.3
jmespath==1.0.1
jschema-to-python==1.2.3
jsondiff==2.0.0
jsonpatch==1.33
jsonpickle==3.0.3
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
junit-xml==1.9
MarkupSafe==2.0.1
moto==2.2.20
mpmath==1.3.0
networkx==3.1
packaging==23.2
pbr==6.0.0
pkgutil_resolve_name==1.3.10
pluggy==1.4.0
py==1.11.0
py-cpuinfo==9.0.0
pyasn1==0.5.1
pycparser==2.21
pydantic==2.6.2
pydantic_core==2.16.3
pytest==7.1.3
pytest-benchmark==4.0.0
python-dateutil==2.8.2
python-jose==3.3.0
pytz==2024.1
PyYAML==6.0.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
responses==0.25.0
rpds-py==0.18.0
rsa==4.9
s3transfer==0.7.0
sarif-om==1.0.4
six==1.16.0
sshpubkeys==3.3.1
sympy==1.12
tomli==2.0.1
typing_extensions==4.9.0
urllib3==1.26.18
Werkzeug==2.1.2
wrapt==1.16.0
xmltodict==0.13.0
zipp==3.17.0
-e opentelemetry-instrumentation
-e propagator/opentelemetry-propagator-aws-xray
-e instrumentation/opentelemetry-instrumentation-botocore
