colorama>=0.4.6
iniconfig>=2.0.0
packaging>=24.0
pluggy>=1.5.0
protobuf>=5.29.5
pytest>=7.4.4
pytest-vcr>=1.0.2 ; python_version > '3.9' and platform_python_implementation !='PyPy'
pyyaml>=6.0.2
vcrpy>=6.0.2 ; python_version > '3.9' and platform_python_implementation !='PyPy'
yarl>=1.20.1
requests>=2.32.2
urllib3>=2.5.0
uuid-utils>=0.11.0
wrapt>=1.16.0
-e opamp/opentelemetry-opamp-client

# for pylint
tomli>=1.1.0
